VITE_CONTRACT_ID=CBZCZQL4AYVXP7LWVDO5BRJ45JRKBVYQFN7IQKQOEFIKVAME512X5VT4
VITE_RPC_URL=https://soroban-testnet.stellar.org
VITE_NETWORK=testnet
VITE_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
